<% include ./partials/header %>
<div id="editForm">
<h1>Edit Entry</h1>
<p>Edit the entry and hit edit to update.</p>
<form action="/time-sheet/<%= employee._id %>?_method=PUT" method="POST">
    <input type="text" name="employee[name]" value="<%= employee.name %>">
    <input type="text" name="employee[id]" value="<%= employee.id %>">
    <input type="text" name="employee[date]"pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(3|03).2014" class="datepicker" title="For this month i.e. 3/2014 in form dd.mm.yyyy" value="<%= employee.date %>">
    <input type="text" name="employee[startTime]"  pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" title="24h format. hh:mm" value="<%= employee.startTime %>">
    <input type="text" name="employee[endTime]" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" title="24h format. hh:mm" value="<%= employee.endTime %>">
    <button class="btn btn-warning">Edit</button>
</form>
</div>
<% include ./partials/footer %>