<% include partials/header %>
<div id="titleBox">
    <div id="container">
    <h1 id="mainTitle">Wage Calculator</h1>
    <button class="view btn btn-primary" onclick='window.location.href = "/time-sheet"' >Click here to view data</button>
    </div>
</div>

<% include partials/footer %>