<% include partials/header %>

<a id="salaryNav" class="btn btn-info" href="/time-sheet">Go Back to Time Sheet</a>
<h2>Employee Salaries for the month</h2>
<div class="table-responsive">
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    <% rEmployees.forEach(function(employee){ %>
    <tr>
        <td><%= employee.id %></td>
        <td><%= employee.name %></td>
        <td>$<%= employee.salary.toFixed(2) %></td>
    </tr>
    <% }); %>
</table>
</div>


<% include partials/footer %>