<% include partials/header %>

<p><br></p>
<form method="POST" action="/get-salaries">
    <button id="calculateBtn" class="btn btn-success" type="submit">Calculate Salary!</button>
</form>
<form id="refreshBtn" method="POST" action="/time-sheet/refresh">
    <button class="btn btn-info" type="submit">Refresh! <i class="fa fa-refresh" aria-hidden="true"></i></button>
</form>
<p></p>

<h2>Time Sheet of Employees</h2>
<p id="pTimeSheet">Here is your rendered csv file. You can add further entries for <strong>this</strong> month by filling the form below and hitting "Add".<br>
You can also refresh by clicking the refresh button i.e. all data is removed and added back straight from the csv file.</p>
<form class="form" action="/time-sheet/add" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="id" placeholder="ID">
    <input type="text" name="date"  pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(3|03).2014" class="datepicker" title="For this month i.e. 3/2014 in form dd.mm.yyyy" placeholder="Date eg. 23.3.2014">
    <input type="text" name="startTime" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" title="24h format. hh:mm" placeholder="Start Time eg. 14:00">
    <input type="text" name="endTime" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" title="24h format. hh:mm" placeholder="End Time eg. 3:00">
    <button class="btn btn-default">Add!</button>
</form>
<div class="table-responsive">
<table>
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Daily Wage</th>
        <th id="th-edit-delete">Edit/Delete</th>
    </tr>
    <% employees.forEach(function(employee){ %>
        <tr>
            <td><%= employee.name %></td>
            <td><%= employee.id %></td>
            <td><%= employee.date %></td>
            <td><%= employee.startTime %></td>
            <td><%= employee.endTime %></td>
            <td>$<%= employee.dailyWage.toFixed(2) %></td>
            <td><a class="sheetBtn btn btn-warning" href="/time-sheet/<%= employee._id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <form id="deleteBtn" action="time-sheet/<%= employee._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Do you really want to delete the entry?\nIt will be lost forever!...unless you refresh')" >
                <button class="sheetBtn btn btn-danger"><i class="fa fa-remove" aria-hidden="true"></i></button>
                </form></td>
        </tr>
    <% }); %>
</table>
</div>

<% include partials/footer %>
