body {
    font-family: Roboto !important;
    background: #4ca1af;
    /* fallback for old browsers */
    
    background: -webkit-linear-gradient(to left, #4ca1af, #c4e0e5);
    /* Chrome 10-25, Safari 5.1-6 */
    
    background: linear-gradient(to left, #4ca1af, #c4e0e5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2 {
    width: 80%;
    margin: 0 auto 20px auto;
}

table {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}

table tr {
    background-color: #f9f9f9;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table td,
table th {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: #5691ef;
}

#th-edit-delete {
    width: 70px;
    color: black;
}

input {
    padding: 5px;
    border: 1px solid #a6a7a8;
    border-radius: 5px;
}

input[type=text]:focus {
    border: 1.5px solid;
    outline: none;
    box-shadow: none!important;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form {
    width: 80%;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-left: 30px;
}

.view {
    margin-left: 50px;
    padding: 20px!important;
    border-radius: 30px!important;
}

.sheetBtn {
    padding: 3px 7px!important;
}

.fa-remove, .fa-pencil-square-o {
    font-size: 17px!important;
}

#titleBox {
    display: flex;
    width: 360px;
    height: 200px;
    margin: 200px auto;
    border-radius: 25px;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    align-items: center;
    justify-content: center;
}

#mainTitle {
    font-family: 'PT sans', sans-serif!important;
    font-size: 42px;
    margin-bottom: 20px;
    text-align: center;
}

#pTimeSheet {
    width: 80%;
    margin-right: auto!important;
    margin-left: auto!important;
}
#calculateBtn {
    font-size: 22px!important;
    display: block!important;
    margin-right: auto;
    margin-left: auto;
    padding: 10px!important;
    border-radius: 15px!important;
}

#refreshBtn {
    margin-right:10%;
    float:right;
}

#deleteBtn {
    display: inline;
}

#editForm {
    width: 1000px;
    margin: 200px auto;
    align-items: center;
    justify-content: center;
}

#backToSheetBtn {
    margin: 20px;
}